<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseConnection"
			 connectionString="Data Source=C:\Users\cugos\OneDrive\Documents\GitHub\OC-Screen-Manager\Database\Screen_Database.db"
			 providerName="Microsoft.Data.Sqlite" />
	</connectionStrings>
</configuration>